body{
	background-color: #ecc659;
	box-sizing: content-box;
	font-family: "Chicle", Helvetica; /*---font changed---*/
	font-size: 2em; /*---font sized changed---*/
	margin: 0;
	padding: 0;
}

.wrap{
	min-height: calc(100vh - 50px);
}

/*===NAVIGATION BAR STYLES===*/
	
	.navbar{
		border:none;
		background-color: #6ab35a;
		letter-spacing: 1px;
		opacity: 0.8;
		font-size: 1.70em;
		height: 50px;
	}
	
	li.dropdown.open{background-color: #32CD32; color: #FFE25A;}
	
	ul.nav li.dropdown a.dropdown-toggle{color: #ecc659; text-shadow: 2px 2px 2px orange;}

	ul.nav li.dropdown a.dropdown-toggle:hover{background-color: #ecc659; color: orange; text-shadow: 2px 2px 2px #ecc659;}

	span.caret{color: #E85C3A;}

	span.caret:hover{color: #FFE25A;}

	ul.dropdown-menu{background-color: #6ab35a; font-size: 1.05em;}

	ul.dropdown-menu:hover{background-color: #6ab35a; font-size: 1.05em;}

	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{background-color: #6ab35a;}

	ul.dropdown-menu a{background-color: #6ab35a; color: #ecc659; /*font-size: 1.05em;*/ text-shadow: 2px 2px 2px orange; }

	ul.dropdown-menu li a:hover{background-color: #6ab35a; color: #ecc659;}

	li.dropdown.open{color: #ecc659;}

	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{color: #ecc659;}

	.navbar-toggle{background-color: #ecc659;}

	.navbar-inverse .navbar-toggle{border-color: #e9eaeb;}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{background-color: #6ab35a;}

	footer{
	height: 50px;
	width: 100%;	
	color: #ecc659;
	background-color: #6ab35a;
	font-size: 1.70em;
	opacity: 0.9;
	text-align: center;
	text-shadow: 2px 2px 2px orange;
}
/*==========================================*/

/*===========INDEX STYLES===================*/

	.index_h1, .discography_h1{
		text-align: center;
		font-size: 3em;
		text-shadow: 2px 2px 2px orange;
		color: #6ab35a;
		position: relative;
		top: 10px;
	}
	
	p.index_intro_paragraph, .intro {
		background-color: #6ab35a;
		border: 5px solid #e9eaeb;
		/*border-radius: 15px 50px;*/
		font-size: 1.55em;
		opacity: 0.8;
		text-align: center;
		color: #ecc659;
		margin: auto;
		margin-top: 55px;
		padding: 10px 1em 10px 1em;
		text-shadow: 2px 2px 2px orange;
		/*width:  80%;*/
		 
		
	}

	div.invisible{margin: 4.61em;}

	p#name{
		color: #32CD32;
		font-size: 3em;
		text-align: center;

	}
	/*==================================*/

	/*========BIOPAGE STYLES============*/

		p.intro{margin-bottom: 20px;}

		p#name{ color: #6ab35a; text-shadow: 2px 2px 2px orange;}

		header img.img-responsive{margin: auto; width: 100%;}

	/*=============== ===================*/

	/*======== INDIVIDUAL BIO STYLES====*/
		
		.tboz_pic.img-circle.img-responsive, .lefteye_pic.img-circle.img-responsive, .chili_pic.img-circle.img-responsive{
			float: left;
			width: 300px;
			height: 300px;
			border: 3px solid orange;
		}

		p.chilli, p.t-boz, p.lefteye{
			position: relative; 
			top: 300px; right: 200px;  
			font-size: 2em; 
			display: inline-block; color: #6ab35a; 	
			text-shadow: 2px 2px 2px orange; 
		}

		.col-md-6{
			float: right;
			font-size: 1.35em;
			letter-spacing: 1px; 
			background-color: #6ab35a;
			text-shadow: 2px 2px 2px orange; 
			color:#ecc659;
			opacity: 0.8;
			margin-top: 25px;
			border: 5px solid #e9eaeb;
			border-radius: 15px 50px;
		}


	/*=========================================*/

/*=====DISCOGRAPHY SITE====================*/
	.album{float: left;}
	
	.info{
		float: left; 
		margin-left:1em; 
		margin-right: 1em;
		color: #6ab35a; 
		text-shadow: 1px 1px 3px darkgreen;
		letter-spacing: 2px; 
	}
	ol.tracklist{
		float: left; 
		clear: left; 
		color: #6ab35a; 
		text-shadow: 1px 1px 3px darkgreen; 
		
	}
	.oooh{float: left;}
	.crazysexycool{float: left; margin-right: 1em;}
	.fanmail{float: left;}
	.threeD{float: left;}
/*==========================================*/

/*=========FORM STYLES*======================*/
	
	img.form_pic.img-responsive{
		margin: auto;

	}
	
	.form_intro{
		color: #6ab35a; 
		font-size: 2em; 
		text-shadow: 2px 2px 2px orange;
	}

	fieldset{
		background-color: #6ab35a;
		opacity: 0.9%;
		padding-left: 1em;
		text-align: center;


	}

input[type="text"]{padding: 5px; margin: 5px; width: 30%;}

.firstname, .lastname, .address, .city, .zip, .state, .birthday, .mail, .comment{color: #ecc659; text-shadow: 2px 2px 2px orange;}

input[type="submit"]{
	background-color: #6ab35a;
	border-radius: 5px 50px;
	color: #ecc659;
	font-size: 2em;
	text-shadow: 2px 2px 2px orange;  
	
}
/*===========================================*/

/*========SOURCE STYLES=======================*/

	.sources_background {

	}
	
	h1, .members_source h1, .discography_source h1 {
		color: #6ab35a;
		text-align: center;
		text-shadow: 2px 2px 2px orange;
	}

	.group_source h2, .members_source h2, .discography_source h2{
		color: #6ab35a;
		text-shadow: 2px 2px 2px orange;
	}

	.group_source{float: right;}

	.members_source{float: left;}

	.discography_source{}

	.group_source ul li, .members_source ul li, .discography_source ul li {color: #E85C3A;}





/*===========================================*/

/*============MEDIA STYLES===========================*/
@media only screen and (){

}


/*==================================================*/


